includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - database/seeders
        - routes
    tmpDir: storage/phpstan
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
